* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu1 {
  width: 80%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu1 > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.image {
  display: flex;
  gap: 30px;
  size: 10px;
}
.list {
  font-size: 20px;
  font-weight: 500;
}

/* section1 */
.Section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 85px;
  padding-right: 75px;
  padding-top: 40px;
  padding-bottom: 160px;
}
.image1 {
  border-radius: 25px;
  width: 660px;
  height: 640px;
}
.part1 {
  background-color: rgba(231, 250, 254, 1);
  width: 620px;
  height: 640px;
  border-radius: 25px;
}
.butt1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px solid white;
  padding-top: 50px;
  padding-bottom: 32px;
  padding-left: 50px;
  padding-right: 414px;

  /* background-color:white; */
  gap: 20px;
  border-radius: 15px;
}
.part1 > h2 {
  font-size: 64px;
  padding-right: 50px;
  padding-left: 50px;
}
.part1 > p {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 24px;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.6);
  font: 16px;
}
.butts2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 50px;
  padding-right: 431px;
}
.box1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 139px;
  height: 40px;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
.box2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 139px;
  height: 40px;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
.box1 > p {
  font-size: 14px;
  width: 73px;
  height: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.box > p {
  font-size: 14px;
  width: 73px;
  height: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.box1 > img {
  width: 24px;
  height: 24px;
}
.box2 > img {
  width: 24px;
  height: 24px;
}
.pro1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 104px;
  padding-bottom: 55px;
}
.head-profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;

  text-align: center;
  justify-content: center;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile > h4 {
  font-size: 16px;
}
.profile > p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
.recepie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background-color: black;
}
.recepie > img {
  width: 24px;
  height: 24px;
}
.recepie > p {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}
/* section2 */
.section2 {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 342px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 160px;
  padding-bottom: 183px;
}
.head1 {
  display: flex;
  flex-direction: row;
  width: 1280px;
  height: 342px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-between;
}
.head1 > a {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  text-align: center;
  background-color: rgba(231, 250, 254, 1);
  width: 200px;
  height: 60px;
  border-radius: 16px;
}
.list1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 80px;
  padding-bottom: 183px;
  padding-left: 80px;
  padding-right: 80px;
}
.pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 180px;
  height: 202px;
  background-color: #f7fcf5;
  border-radius: 30px;
}
.pic > p {
  font-size: 18px;
}
.pic > img {
  width: 100px;
  height: 100px;
  background-image: #f7fcf5;
}
.pic1 > img {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-image: #f7fcf5;
}
.pic1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 180px;
  height: 202px;
  background-color: #f7fcf5;
  border-radius: 30px;
}
/* section3 */
section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.part3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.part3 > h2 {
  font-size: 48px;
}
.part3 > p {
  padding-top: 24px;
  padding-bottom: 96px;
  width: 706px;
  height: 56px;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.grid1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ecfafd;
  width: 360px;
  height: 400px;
  border-radius: 30px;
}
.grid1 > img {
  width: 368px;
  height: 250px;
  padding: 16px;
}
.grid1 > h2 {
  width: 326px;
  height: 64px;
  padding: 24px;
}
.butt3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 24px;
}
.butt4 {
  padding: 10px;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
.butt5 {
  padding: 10px;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
.butt4 > a {
  text-decoration: none;
  font-size: 14px;
}
.butt5 > a {
  text-decoration: none;
  font-size: 14px;
}
.butt4 > img {
  width: 18px;
  height: 18px;
}
.butt5 > img {
  width: 24px;
  height: 24px;
}
.butt6 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 32px;
}
.grid2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ecfafd;
  width: 360px;
  height: 400px;
  border-radius: 30px;
}
.grid2 > img {
  width: 368px;
  height: 250px;
  padding: 16px;
}
.green-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #336f53;
  width: 360px;
  height: 400px;
}
.green-part > img {
  width: 354px;
  height: 336px;
  padding-top: 80px;
}
.green-part > h2 {
  text-align: center;
  width: 172px;
  height: 60px;
  padding-top: 60px;
  color: #ffffff;
}
.green-part > p {
  text-align: center;
  width: 137px;
  height: 20px;
  padding-bottom: 80px;
  color: #ffffff99;
}
/* part4 */
.Section4 {
  display: flex;
  flex-direction: row;
  padding-top: 143px;
  padding-bottom: 30px;
  width: 1280px;
  height: 597px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 526px;
  height: 200px;
  padding-top: 250px;
  padding-left: 80px;
  gap: 30px;
}
.image2 {
  position: relative;
}
.i1 {
  position: absolute;
  width: 660px;
  height: 420px;
}
.i2 {
  position: absolute;
  top: 100px;
  right: -560px;
  width: 80px;
  height: 80px;
}
.i3 {
  position: absolute;
  width: 80px;
  height: 80px;
}
.i4 {
  position: absolute;
  bottom: 100px;
  left: 12px;
  width: 50px;
  height: 50px;
}
.i5 {
  position: absolute;
  top: 40px;
  right: -450px;
  width: 50px;
  height: 50px;
}
.text1 > a {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 16px;
  background-color: black;
  width: 180px;
  height: 60px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.text > h2 {
  font-size: 48px;
  font-weight: 600;
}
.text > p {
  color: #00000099;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
}
.sec5 {
  display: flex;
  flex-direction: column;
  padding-top: 74px;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 400px;
  background-color: #e7f9fd;
  border-radius: 16px;
}
.part5 {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e7f9fd;
}
h4 {
  width: 589px;
  height: 58px;
  display: flex;
  gap: 20px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
.form1 {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  width: 480px;
  height: 60px;
  justify-content: center;
  background-color: white;
  border-radius: 24px;
  border: 1px solid white;
  gap: 140px;
}
.butt7 {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.button {
  border: 1px solid white;
  color: white;
  border-radius: 16px;
  padding: 10px;
  width: 160px;
  height: 60px;
  background-color: black;
}
.email1 {
  border: 1px solid white;
}
/* .i6 {
  position: absolute;
  width: 470px;
  height: 335.62px;
  bottom: 100px;
} */
/* .i7 {
  position: absolute;
   width: 470px;
  height: 335.62px;
} */
/* .i8 {
  position: absolute;
   width: 470px;
  height: 335.62px;
} */

/* footer */
.foot1 {
  display: flex;
  flex-direction: column;
}
.foot2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #0000001a;
  gap: 10px;
  padding-top: 176px;
}
.foot3 > h4 {
  padding-bottom: 16px;
  font-size: 24px;
  display: flex;
  justify-content: start;
}
.foot3 > p {
  padding-top: 16px;
  padding-bottom: 92px;
  color: #00000099;
  font-size: 16px;
}
.list2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
  width: 400px;
  height: 19px;
  list-style: none;
  font-weight: bold;
}
.downpart1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 50px; */
  padding-top: 48px;
  padding-bottom: 54px;
  padding-right: 80px;
  padding-left: 80px;
}
.down1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.down1 > .p {
  display: flex;
  justify-content: center;
}
.list3 {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.list4 {
  display: flex;
  justify-content: end;
  border: 1px solid white;
  gap: 20px;
  width: 133.2px;
  height: 22px;
}
